/**
* Animations
*/ 
@keyframes CeresBounce {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(.9, .9, .9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(.97, .97, .97);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
}
.CeresBounce {
    animation-name: CeresBounce;   
}

@keyframes CeresBounceDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.CeresBounceDown {
  animation-name: CeresBounceDown;
}

@keyframes CeresBounceUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.CeresBounceUp {
  animation-name: CeresBounceUp;
}
@keyframes CeresRoll {
    from {
      opacity: 0;
      transform: translate3d(-90%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}
.CeresRoll {
    animation-name: CeresRoll;

}
@keyframes CeresZoom {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
}
.CeresZoom {
    animation-name: CeresZoom;   
}
@keyframes CeresSlideDown {
    from {
      transform: translate3d(0, -90%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
.CeresSlideDown {
    animation-name: CeresSlideDown;
}

@keyframes CeresSlideUp {
    from {
      transform: translate3d(0, 90%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
  
.CeresSlideUp {
    animation-name: CeresSlideUp;
}
@keyframes CeresSlideLeft {
    from {
      transform: translate3d(-90%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
.CeresSlideLeft {
    animation-name: CeresSlideLeft;   
} 
@keyframes CeresSlideRight {
    from {
      transform: translate3d(90%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}
.CeresSlideRight {
    animation-name: CeresSlideRight;  
}

@keyframes CeresFlipHorizontal {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
.CeresFlipHorizontal {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: CeresFlipHorizontal;
}

@keyframes CeresFlipVertikal {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
.CeresFlipVertikal {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: CeresFlipVertikal;
  }

@keyframes CeresFade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.CeresFade {
    animation-name: CeresFade;
  }


@keyframes CeresFadeDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .CeresFadeDown {
    animation-name: CeresFadeDown;
  }

@keyframes CeresFadeUp {
  from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  
  to {
      opacity: 1;
      transform: none;
  }
}
  
.CeresFadeUp {
  animation-name: CeresFadeUp;
}

@keyframes CeresLightSpeed {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.CeresLightSpeed {
  animation-name: CeresLightSpeed;
  animation-timing-function: ease-out;
}
.hide{
    display: none !important;
}
.non-hidden{
    display: block !important;
}




